/*
 * copyright (c) 2020 the zmk contributors
 *
 * spdx-license-identifier: mit
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -------------------------------------------------------------------------------------
// |  tab |  q  |  w  |  e  |  r  |  t  |   |  y  |  u   |  i  |  o  |  p  |   bksp    |
// | ctrl |  a  |  s  |  d  |  f  |  g  |   |  h  |  j   |  k  |  l  |  ;  |    '      |
// | shft |  z  |  x  |  c  |  v  |  b  |   |  n  |  m   |  ,  |  .  |  /  | shft(ret) |
//                         | alt | lwr | spc | rse  | alt |
                        bindings = <
   &kp tab   &kp q &kp w &kp e &kp r &kp t   &kp y &kp u  &kp i     &kp o   &kp p    &kp bspc
   &kp lshft &kp a &kp s &kp d &kp f &kp g   &kp h &kp j  &kp k     &kp l   &kp semi &kp sqt
   &kp lctrl &kp z &kp x &kp c &kp v &kp b   &kp n &kp m  &kp comma &kp dot &kp fslh &mt rshft ret
                        &mo 1  &kp enter &kp space &kp bspc  &mo 2
                        >;
                };

                lower_layer {
// ----------------------------------------------------------------------------------
// |    |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  |    del    |
// |    |  _  |  +  |  {  |  }  | "|" |   | lft | dwn |  up | rgt |  `  |     ~     |
// |    | esc | gui | alt | caps|  "  |   | home| end | pgup| pgdn| prsc| shft(ret) |
//                       |     |     | ret | adj |     |
                        bindings = <
   &kp esc &kp n1   &kp n2    &kp n3    &kp n4    &kp n5         &kp n6    &kp n7    &kp n8    &kp n9    &kp n0    &trans
   &trans &kp C_VOLUME_DOWN    &kp C_PREV   &kp C_NEXT   &kp C_VOLUME_UP    &kp C_PLAY        &trans    &kp left  &kp up    &kp down  &kp right &trans
   &trans &trans    &trans    &trans    &trans    &trans         &trans    &trans    &trans    &trans    rans    &trans 
                                 &trans      &trans       &trans      &kp DELETE     &kp LGUI
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// |    |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | del |
// |    |  -  |  =  |  [  |  ]  |  \  |   | f1  | f2  | f3  | f4  | f5  | f6  |
// |    | esc | gui | alt | caps|  "  |   | f7  | f8  | f9  | f10 | f11 | f12 |
//                       |     | adj | bksp |    |     |
                        bindings = <
   &kp GRAVE &kp f1    &kp f2    &kp f3    &kp f4    &kp f5        &kp f6    &kp f7    &kp f8    &kp f9    &kp f10    &trans
   &trans &trans    &trans    &trans    &kp PSCRN    &trans        &trans    &kp PLUS  &KP MINUS &trans    &trans     &trans
   &trans &trans    &trans    &trans    &trans       &trans        &trans    &trans    &trans    &trans    &trans     &trans
                                &trans      &trans       &trans      &trans       &trans
                        >;
                };

                adjust_layer {
// -----------------------------------------------------------------------------------------
// | rgb bri+ | rgb sat+ | rgb hue+ | rgb ani+ |    | rgb tog |   |  bt1  | bt2 | bt3 | bt4 | bt5 | bt clr |
// | rgb bri- | rgb sat- | rgb hue- | rgb ani- |    |         |   |       |     |     |     |     |        |
// |          |          |          |          |    |         |   | reset |     |     |     |     |        |
//                                              |     |     |     |     |     |
                        bindings = <
   &rgb_ug rgb_bri &rgb_ug rgb_sai &rgb_ug rgb_hui &rgb_ug rgb_eff &none &rgb_ug rgb_tog    &bt bt_sel 0 &bt bt_sel 1 &bt bt_sel 2 &bt bt_sel 3 &bt bt_sel 4 &bt bt_clr
   &rgb_ug rgb_brd &rgb_ug rgb_sad &rgb_ug rgb_hud &rgb_ug rgb_efr &none &none              &none        &none        &none        &none        &none        &none
   &none           &none           &none           &none           &none &none              &reset       &none        &none        &none        &none        &none
                                                             &trans      &trans       &tog 3        &trans      &trans
                        >;
                };
        };
};
